
/* start of login page */
.App {
  text-align: center;
}

.background{
  height: 100vh;
  background-image: url("./todo.jpg");
}

.loginText{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: underline rgb(179, 0, 0);
}

.loginInput{
  border-radius: 10px;
  width: 300px;
  border-color: rgb(179, 0, 0);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

.loginInput::placeholder{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

/* end of loginpage */

/* start of mainpage */

.backgroundMain{
  height: 100vh;
  background-image: url("./todo.jpg");
}

.mainWindowButton{
  border-radius: 10px;
  border-color: rgb(179, 0, 0);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.mainWindowText{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: underline rgb(179, 0, 0);
}

.testDiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/* end of mainpage */